body {

  /*

  font-family: 'Anton', sans-serif;
  font-family: 'Wendy One', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Poppins', sans-serif;
    */
    

}

.top-nav-font-style {

      font-family: 'Dosis', sans-serif;
    font-size: 2rem;

}

.card-space-container {

  height: inherit;
  margin-top: 6.2rem;
}

.skate-location {

    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 200;
/*    font-family: 'Wendy One', sans-serif;*/
    font-family: 'Indie Flower', cursive;
    border-radius: 0px 0px 0px 0px;

}


.footer-styles {

   height: inherit;
   width: 100%;

}

.logo-size {
  height: 100px;
}


.logo-style {
  top: 0px;
  display: flex;
  justify-content:  center;
  position:fixed;
  margin-left: auto;
  margin-right: auto;
  z-index: 9000345435;

}





/* scroll styles      */

.scroll-height-style {
    
    width: 100%;
    height: 45rem;
    margin-bottom: auto;
    overflow: hidden;
/*    height: inherit;*/
}

.slider-text {
    
font-size: 4rem;    
font-family: 'Poppins', sans-serif !important;
    margin-bottom: 15rem;

}

.attraction-style {
    
    margin-top: 8rem;
    
}



.attraction-header-style {
    
    margin-top: auto;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 200;
    
}

.learn-skate {
    height: inherit;
    padding-top: 1rem;
    padding-bottom: 4rem;
      
    
}

.skate-section {
    
    height: inherit;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-top: 5rem;
    
    
}

.header-learn-skate {
    
    font-family: 'Poppins', sans-serif;
    
    
}

.roller-girl {
    
    height: 16rem;
    align-content: center;
    text-align: center;
}

/* Global footer */

.footer-links-space {
  /*margin-top: 4rem;
  margin-bottom: 4rem;*/
  padding-top: 3rem;
  padding-bottom: 2rem;
  

}

.footer-styles {
/*    padding-top: 4rem;*/
    height: inherit;
}

.my-4 {
    
    border-top: 1px solid #ffffff;
}
